<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Header</title>
        <style>
            
        </style>
    </head>
    <body>
        <header class="header">
            <img
                class="header__img"
                src="../assets/img/logo-platzi-video-BW2.png"
                alt=""
            />
            <div class="header__menu">
                <div class="header__menu--profile">
                    <img src="../assets/img/user-icon.png" alt="User" />
                    Perfil
                </div>
                <ul>
                    <li><a href="/">Cuenta</a></li>
                    <li><a href="/">Cerrar Sesión</a></li>
                </ul>
            </div>
        </header>
    </body>
</html>
